* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html, body, #wrapper {
    width: 100%;
    height: 100%;
}
body {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
#modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#modal #nameField {
    width: 500px;
    height: 40px;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#modal #nameField #modalName {
    width: calc(100% - 40px);
    height: 40px;
    border: none;
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-left: 10px;
    outline: none;
}
#modal #nameField #submitInput {
    float: left;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transition: .2s;
}
#modal #nameField #submitInput:hover {
    background: rgb(42, 87, 145);
}
#wrapper {
    float: left;
}
#wrapper header {
    float: left;
    width: 100%;
    height: 40px;
    padding-left: 5%;
    line-height: 40px;
    display: flex;
}
#wrapper header .tableLink {
    float: left;
    cursor: pointer;
    transition: .4s;
    border-bottom: 2px solid transparent;
    padding-left: 20px;
}
#wrapper header .tableLink:hover {
    border-bottom: 2px solid #ccc;
}
#wrapper header .tableLink:first-child {
    padding-left: 0px;
}
#wrapper header .tableLink div {
    float: right;
    width: 16px;
    height: 16px;
    font-size: 12px;
    background: transparent;
    color: transparent;
    text-align: center;
    margin: 14px;
    margin-left: 25px;
    line-height: 16px;
    border-radius: 50%;
    transition: .2s;
}
#wrapper header .tableLink:hover div {
    color: #666;
}
#wrapper header .tableLink div:hover {
    color: #fff;
    background: rgb(255, 45, 45);
}
#wrapper header .tableLink:first-child div {
    display: none;
}
#wrapper header .active {
    border-bottom: 2px solid rgb(42, 87, 145);
}
#wrapper #display #home {
    float: left;
    width: 100%;
    height: calc(100% - 40px);
    padding: 50px 5% 0px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#wrapper #display #table {
    float: left;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 40px);
    padding: 50px 0px 0px 5%;
    overflow-x: auto;
}
#wrapper #display #home .tableShortcut {
    float: left;
    width: 400px;
    height: 120px;
    background: rgb(62, 61, 151);
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 20px;
    cursor: pointer;
    transition: .2s;
    overflow: hidden;
    border-radius: 5px;
}
#wrapper #display #home .tableShortcut:hover  {
    background: rgb(62, 61, 151);
    font-size: 24px;
    box-shadow: 0px 0px 5px rgb(62, 61, 151);
}
#wrapper #display #home #createTable {
    background: #ccc;
    justify-content: center;
}
#wrapper #display #home #createTable div {
    width: 40px;
    height: 40px;
    background: #aaa;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    border-radius: 50%;
    transition: .3s;
}
#wrapper #display #home #createTable:hover div {
    transform: scale(1.4, 1.4);
    background: rgb(62, 61, 151);
}
#wrapper #display #table {
    float: left;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 40px);
    padding: 50px 0px 0px 5%;
    overflow-x: auto;
}
#wrapper #display #table .taskTable {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    background: #eee;
    color: #333;
    margin-right: 10px;
    border-radius: 5px;
}
#wrapper #display #table .taskTable .title {
    float: left;
    width: 100%;
    font-size: 20px;
    padding: 10px;
}
#wrapper #display #table .taskTable ul.tasks {
    float: left;
    width: 100%;
    list-style-type: none;
    margin-top: 10px;
}
#wrapper #display #table .taskTable ul.tasks .task {
    float: left;
    width: 94%;
    height: 36px;
    background: #fff;
    margin: 0px 3% 10px 3%;
    border-radius: 5px;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-bottom: 1px solid #ccc;
}